body {
	background-color: #fbfbfb;
}

.trending {
	background-color: #fbfbfb;
	margin: 10px 120px 120px 100px;
}

.trending::after {
	content: "";
	display: block;
	clear: both;
}

.left_section {
	float: left;
	width: 70%;
	margin-left: 3%;
	color: #696969;
}

.left_section * {
	max-width: 95%;
}

.left_section p {
	line-height: 40px;
}

.right_section {
	position: relative;
	width: 25%;
	float: right;
}

.right_section * {
	max-width: 80%;
	overflow: hidden;
}

.right_section p {
	font-size: 1.5vw;
}

@media screen and (max-width: 700px) {
	.right_section p {
		font-size: 2vw;
	}
}

@media screen and (min-width: 1000px) {
	.right_section p {
		font-size: 15px;
	}
}