.main_container_outer {
  background: #191919;
  height: 100vh;
  display: flex;
}

.left_side {
  width: 200px;
  background: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9));
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_content {
  flex: 1;
  overflow: scroll;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.main_menu_navigation {
  margin: 0;
  list-style: none;
  margin-top: 50px;
}

.main_menu_navigation .link {
  padding-left: 5px;
  font-weight: 700;
  color: white;
  opacity: .6;
  transition: opacity 0.5s ease-in-out;
}

.main_menu_navigation .link a {
  text-decoration: none;
  color: white;
}

.main_menu_navigation .link:hover {
  opacity: 1.0;
}

.left_side_user {
  font-family: helvetica neue, helvetica;
  color: white;
}
