.player{
  background-color: #252525;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: white;
  padding: 15px 30px 20px;
}

.player-content {
  position: relative;
}

.player-track {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

.track-image-container {
  display: flex;
  -webkit-box-direction: normal;
}

.player-content__image {
  margin-right: 10px;
  background-color: #303030;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 200px;
  position: relative;
  transform: scale(1);
  box-shadow: 0 0 25px rgba(0,0,0,.2);
  width: 50px;
  height: 50px;
}

.player-content__details {
  flex: 1;
}

.player-controls {
  margin: 0 auto;
  width: 60%;
  min-width: 100px;
  text-align: center;
}

.player-controls__buttons {
  margin: 0;
  padding: 0;
}

.player-controls__button {
  cursor: pointer;
  transition: color .3s;
}

.player-controls__button:hover {
  color: green;
}

.player-controls__progress {
  position: relative;
}

.progress__time {
  position: absolute;
  bottom: 0;
}

.progress__time--start {
  right: 105%;
}

.progress__time--end {
  left: 105%;
}

.progress-bar {
  background: dimgray;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
}

.progress-bar__status {
  height: 5px;
  background-color: green;
}
