.main_container_album {
  padding: 30px;
}

.album_side {
  width: 300px;
  padding: 10px;
  float: left;
  text-align: center;
}

.button {
  background-color: #2ebd59;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 500;
  margin-right: 10px;
  transition: background-color 0.5s ease-in-out;
}

.button:hover {
  background-color: #219042;
  color: white;
}

.album_title {
  font-size: 26px;
  font-weight: 700;
}

.album_total {
  font-family: helvetica neue, helvetica;
  color: #fff;
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.album_main {
  width: calc(100% - 300px);
  padding: 10px;
  float: left;
}
